body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
  flex-direction: column;
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  position: fixed; /* Fixed at the top */
  top: 0; /* Align to top */
  left: 0; /* Start from left */
  z-index: 1000; /* Above other elements */
  padding: 5px; /* Padding around the progress bar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

.progress {
  height: 10px;
  width: 0; /* Initial width is 0 to start empty */
  background-color: #3498db; /* Progress color */
  border-radius: 5px; /* Rounded corners */
  transition: width 0.3s ease; /* Smooth transition */
}

.quiz-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  margin-top: 70px;
}

h2 {
  margin-bottom: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
}

.answer {
  display: flex;
  align-items: center;
  margin: 5px 0;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.answer img, .answer audio {
  width: 100%;
  height: auto;
}

.answer:hover {
  background-color: #2980b9;
}

#result {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #27ae60;
}

.submit-btn {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.submit-btn:hover {
  background-color: #e67e22;
}

.next-btn {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.next-btn:hover {
  background-color: #27ae60;
}

#question img {
  height: 300px;
}

.answer-content {
  flex-grow: 1;
  text-align: center;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
}

.answer img {
  width: 100px;
  height: auto;
}

.answer audio {
  width: 100%;
  height: 2rem;
}

.answers.image-options {
  flex-direction: row;
  justify-content: space-between;
}

.answer input[type="radio"] {
  margin-right: 10px;
}
